<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge #4 | Bethany Johnson</title>
    <script src="vendors/jquery-1.12.3.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>Just DO The Damn Thing</h1>
    <p id="dateIntro">(And do it today!)</p>
    <p id="currentDate"></p>
    <div class="addTask">
      <input type="text" id="newTask" placeholder="Enter task here" value=""></input>
      <button type="button" id="newTaskBtn">+</button><br>
      <!-- <button type="button" id="clearAll">Clean Slate</button> -->
    </div>

    <div class="master">
      <div class="containerL">
        <div class="pendingTitle">Pending Tasks | Git-R-Done!</div>
        <div class="pendingTasksDiv"></div>
      </div>

      <div class="containerR">
        <div class="completedTitle">Completed Tasks | Yousa Rockstar!</div>
        <div class="completedTasksDiv"></div>
      </div>
    </div>

  </body>
</html>
