body {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 3% auto;
}

#newTask, #newTaskBtn {
  margin: 1% 0.5%;
}

.pendingTasksDiv {
  font-size: 16px;
  font-weight: normal;
  border: 2px solid black;
  margin: 2% auto;
  width: 30%;
  padding: 2% 2%;
}

.pendingTasksDiv button {
  float: right;
  margin: 0 0.5%;
}
