body {
  text-align: center;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: cursive;
}

#newTask, #newTaskBtn {
  margin: 1% 0.5%;
}

.pendingTasksDiv {
  font-size: 16px;
  font-weight: normal;
  border: 2px solid black;
  margin: 2% auto;
  width: 30%;
  height: 400px;
  padding: 2% 3%;
  background-image: url('http://up.hawahome.com/uploads/14526080163.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  /*text-align: left;*/
}

.pendingTasksDiv button {
  float: right;
}

.pendingTasksDiv input {
  float: left;
}

#dateIntro {
  font-size: 20px;
}

#currentDate {
  font-family: cursive;
  font-size: 18px;
}
